# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# Logs and databases
*.log
*.sqlite3
trading.db

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Project specific
log/*
!log/.gitkeep

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
